.container {
  padding: 2.5rem 0 5rem;
  margin-top: 4rem;

  .logo {
    margin-left: 27.5rem;
  }

  button {
    border: none;
    background-color: var(--black);
    color: var(--pink);
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 3rem;

    transition: filter 0.2s;

    &:hover p {
      filter: brightness(0.9);
    }
  }
}

.posts {
  width: 100%;
  margin-top: 4rem;

  a {
    display: block;
    width: 100%;

    h2 {
      font-size: 1.75rem;
      font-weight: bold;
      color: var(--gray-100);
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.125rem;
      color: var(--gray-200);
      margin-bottom: 1.5rem;
    }

    > div {
      display: flex;
    }

    span {
      font-size: 0.875rem;
      text-transform: capitalize;
      color: var(--gray-300);

      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }

      &:last-child {
        margin-left: 1.5rem;
      }
    }

    & + a {
      margin-top: 3rem;
    }
  }
}
